@font-face {
    font-family: 'DanaYadAlefAlefAlef-Normal';
    src: url('../Fonts/DanaYadAlefAlefAlef-Normal.otf') format('opentype');
}

@font-face {
    font-family: 'DanaYadAlefAlefAlef-Normal';
    src: url('../Fonts/DanaYadAlefAlefAlef-Normal.ttf') format('truetype');
}

@font-face {
    font-family: 'yehudaclm-bold-webfont';
    src: url('../Fonts/yehudaclm-bold-webfont.ttf') format('truetype');
}

body {
    direction: rtl;
}

#container {
    width: 1183px;
    margin: auto;
    text-align: center;
    border: 40px solid transparent;
    padding-bottom: 0px;
    font-family: 'yehudaclm-bold-webfont';
    border-image: url(../Images/homepage.background.png) 320 round;
}

#frame {
    border: 5px solid rgb(207,186,100);
    box-shadow: 0 0 10px 5px rgb(128, 128, 128);
}

#Logo {
    height: 50px;
    width: 200px;
    position: relative;
    right: -70px;
    bottom: -15px;
}

#mainNav ul {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    font-weight: bolder;
    position: relative;
    padding-bottom: 20px;
}

#mainNav li {
    display: inline-block;
    width: 160px;
    height: 30px;
}

#mainNav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    color: lightpink;
}

#mainNav li a:hover:not(.active) {
    color: rgb(207,186,100);
}

#mainNav .active {
    color: rgb(207,186,100);
}

.notAllowed {
    cursor: not-allowed;
    color: lightslategray;
    text-decoration: none;
}

#breadCrumbs {
    text-align: right;
    font-size: 15px;
    position: relative;
}

#breadCrumbs ol li {
    display: inline-block;
}

#breadCrumbs ol li::after{
    content: ">"
}

#breadCrumbs ol li:last-child::after {
    content: "";
}

#breadCrumbs a {
    color: lightpink;
    text-decoration: none;
    font-weight: bolder;
}

h1 {
    font-family: 'DanaYadAlefAlefAlef-Normal';
    font-size: 30px;
    padding-bottom: 100px;
}

#misgarat1 {
    width: 800px;
    height: 200px;
    left: -70px;
    top: -230px;
    position: relative;
}


#sabun {
    width: 100px;
    height: 100px;
    position: relative;
    top: -280px;
    right: -620px;
}

h3 {
    font-size: 30px;
    bottom: 10px;
    font-weight: bolder;
    position: relative;
    top: -70px;
    left: -30px;
}

.kitov1 {
    font-size: 20px;
    position: relative;
    top: -80px;
    left: -40px;
}

.kitov2 {
    font-size: 20px;
    position: relative;
    top: -80px;
    left: -40px;
}

.kitov3 {
    font-size: 20px;
    position: relative;
    top: -70px;
    left: -40px;
}

#line {
    width: 35%;
    height: 5px;
    position: relative;
    top: -120px;
}

#ring {
    width: 100px;
    height: 100px;
    position: relative;
    top: -400px;
    right: -620px;
}

#scisors {
    width: 100px;
    height: 100px;
    position: relative;
    top: -500px;
    right: -620px;
}

#hader2 {
    font-size: 30px;
    bottom: 0px;
    font-weight: bolder;
    right: 420px;
    position: relative;
}

#misgarat2 {
    width: 800px;
    height: 200px;
    left: -70px;
    top: -350px;
    position: relative;
}

#misgarat3 {
    width: 800px;
    height: 200px;
    left: -70px;
    top: -465px;
    position: relative;
}

#div2 {
    position: relative;
    top: -120px;
}

#div3 {
    position: relative;
    top: -230px;
}

#access {
    height: 90px;
    width: 80px;
    position: relative;
    float: right;
}

footer {
    position: relative;
    background-color: rgb(243, 228, 236);
    text-align: center;
}

footer a {
    text-decoration: none;
}